.Rhistory
.RData
.Rproj.user/
.DS_Store
build/
renv/library/
renv/staging/
ms/*.aux
ms/*.log
ms/*.out
ms/*.bbl
ms/*.blg
ms/*.fdb_latexmk
ms/*.fls
ms/*.xdv
ms/*.tex
ms/*_files/
archive/kgains/
.deps/
docs/legacy-sources/
